:root {
    --primary-color: rgba(55, 120, 250, 1);
    --font-color: #0000;

    --font-body: 'SpaceGrotesk-Regular', sans-serif;
    --font-logo: 'SpaceGrotesk', sans-serif;
    --font-btn: 'SpaceGrotesk-Bold', sans-serif;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url('/Fontes/SpaceGrotesk-SemiBold.ttf') format('truetype');
    font-size: 600;

}

@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('/Fontes/SpaceGrotesk-Regular.ttf') format('truetype');

}


@media (min-width: 428px) {
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu ul {
        display: none;
    }

    .logo {
        font-size: 1.25rem;
    }

    .menu-mobile button {
        background-color: #fff;
        border: 0;
        font-weight: 100;
        font-size: 2rem;
    }

    .hero h1 {
        font-size: 2.6rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin-bottom: 21px;
        text-align: center;
    }

    .body-a,
    .body-b {
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin-bottom: 21px;
        text-align: center;
    }


    .body-a h2 {
        margin-bottom: 35px;
        margin-top: 50px;
    }

    .hero h3 {
        font-family: var(--font-body);
        font-weight: 100;
        margin-bottom: 40px;
        text-align: center;
        font-size: 0.9rem;
    }

    .hero img,
    .img-video {
        max-width: 100%;
    }

    .titulo-body-b {
        justify-content: center;
    }

    .body-b {
        background-color: rgba(243, 243, 243, 1);
        border-radius: 20px;
        justify-content: center;
        margin-bottom: 96px;

    }

    .card {
        display: flex;
        padding: 10px;
        background-color: white;
        border-radius: 8px;
        font-weight: 200;
        justify-content: space-between;
        margin: 9.65px;
        align-items: center;


    }

    .card-com-texto {
        width: 100%;

    }

    .titulo-span {
        display: flex;
        justify-content: space-between;
    }


    .texto-card {
        max-width: 50%;
        font-size: 0.7rem;
        color: gray;
    }

    .footer {
        background-color: var(--primary-color);

    }


    .footer h2 {
        padding-top: 4.75rem;
        margin-bottom: 1.313rem;
        color: white;
        font-size: 2.875rem;
    }

    .footer p {
        font-size: 14px;
        margin-bottom: 1.688rem;
    }

    .footer p,
    a {
        color: white;
    }

    .above-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-footer {
        font-size: 1.25rem;
        color: white;
        margin-top: 4.938rem;
        margin-bottom: 1.063rem;
    }



    .footer-divider {

        border-top: 1px solid white;
        margin: 5rem 0;
    }

    .descricao-footer {
        max-width: 72%;
    }


    .footer-brand {
        max-width: 80%;
    }

    .above-logo-text {
        max-width: 50%;
    }

    .direitos-autorais {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .direitos-meio{
        max-width: 71%;
    }



}

/*Fim media mobile*/

body {
    font-family: var(--font-body);
}

.logo {
    color: var(--primary-color);
}

.btn {
    font-family: var(--font-btn);
    color: black;
    padding: 11px 16px;
    border-radius: 40px;
    background-color: white;
}

.btn::after {}

.header {
    padding: 1rem 0;
    width: 100%;

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}